.container .about_us {
  margin-top: 137px;
}

.container .about_us .we_pride {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .about_us .we_pride img {
  height: 435px;
  width: 653px;
  border-radius: 10px;
}

.container .about_us .we_pride .we_pride_txt {
  margin-left: 55px;
}

.container .about_us .we_pride .we_pride_txt h2 {
  font-family: 'Quicksand';
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  width: 416px;
}

.container .about_us .we_pride .we_pride_txt p {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #555555;
  width: 430px;
  margin-top: 13px;
}

.container .about_us .we_pride .we_pride_txt button {
  width: 165px;
  height: 50px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  background: #F46A06;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 27px;
  cursor: pointer;
}

.container .about_us .we_pride .we_pride_txt button:hover {
  background-color: white;
  color: #F46A06;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border: 1px solid #F46A06;
}

.container .about_us .we_pride .we_pride_txt button:hover img {
  display: none;
}

.container .about_us .we_pride .we_pride_txt button img {
  height: 10px;
  width: 7.75px;
  margin-left: 6px;
}

.container .we_make {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.container .we_make .we_make_txt h2 {
  font-family: 'Quicksand';
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  width: 464px;
}

.container .we_make .we_make_txt p {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #555555;
  width: 464px;
  margin-top: 23px;
}

.container .we_make .we_make_txt .we_make_ticks {
  margin-top: 23px;
}

.container .we_make .we_make_txt .we_make_ticks .tick1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .we_make .we_make_txt .we_make_ticks .tick1 p {
  margin-left: 16px;
  margin-top: 0;
}

.container .we_make .we_make_txt .we_make_ticks .tick2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.container .we_make .we_make_txt .we_make_ticks .tick2 p {
  margin-left: 16px;
  margin-top: 0;
}

.container .we_make .we_make_txt .we_make_ticks .tick3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.container .we_make .we_make_txt .we_make_ticks .tick3 p {
  margin-left: 16px;
  margin-top: 0;
}

.container .we_make .we_make_txt button {
  width: 165px;
  height: 50px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  background: #F46A06;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

.container .we_make .we_make_txt button:hover {
  background-color: white;
  color: #F46A06;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border: 1px solid #F46A06;
}

.container .we_make .we_make_txt button:hover img {
  display: none;
}

.container .we_make .we_make_txt button img {
  height: 10px;
  width: 7.75px;
  margin-left: 6px;
}

.container .we_make .we_make_img {
  width: 680px;
  height: 680px;
  border-radius: 10px;
  background: url(../../../images/app_main/about_us/we_make_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container .we_make .we_make_img img {
  position: absolute;
  right: -120px;
  top: -270px;
}
/*# sourceMappingURL=about_us.css.map */